@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    z-index: 2;
}

.headerBackground {
    height: 100px;
    background: #000;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.menu {
    width: 382px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 70px;
}

.menu a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.5s ease;
    display: block;
    padding: 15px 0;
}

.menu a:hover {
    color: #f0f0f0;
    transform: scale(1.1);
}

.hero {
    width: 100%;
    height: 1177px;
    background-image: url('../img/background-hero.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.hero_description_Vignete {
    width: 100%;
    height: 1177px;
    background-image: url('../img/Rectangle 3.svg');
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_description {
    width: 700px;
}

.hero_description h1 {
    color: #fff;
    font-size: 75px;
    font-weight: 900;
    text-align: center;
}

.hero_description p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin: 55px auto;
}

.hero_description .btn_green {
    width: 215px;
    height: 60px;
    background: #00A651;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    display: block;
    margin: auto;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    padding: 12px 0;
    transition: all 0.5s ease;
}

.hero_description .btn_green:hover {
    background: #fff;
    color: #00A651;
}

.actions {
    display: flex;
    align-items: center;
    gap: 34px;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-top: 72px;
    margin-bottom: 63px;
}

.services {
    display: flex;
    justify-content: center;
}

.service-box {
    font-weight: 600;
    font-size: 24px;
    width: 416px;
    height: 232px;
    display: flex;
    margin: 50px 30px;
    padding: 15px 30px 30px 30px;
    border-radius: 15px;
    gap: 20px;
    background-color: #F9F9F9;
    transition: all 0.5s ease;
}

.service-box:hover {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.263);
}

.Espacios {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    text-align: left;
    text-size-adjust: 50%;
    padding: 3%;
}


.leyendaChikita {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 328px;
    height: 44px;
    font-size: 16px;
    margin: 10px auto;
}

.service_section {
    background: rgba(0, 88, 84, 0.06);
    height: 733px;
    position: relative;

}

.map_background_best_service {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.service {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service_description {
    padding: 61px 0;
    width: 518px;

}

.service_description h2 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.service_description p {
    font-size: 16px;
    text-align: center;
    margin: 19px auto;
}

.service_information {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 141px;
}

.calendar {
    width: 250px;
    height: 250px;
    display: block;
    background: #ffff;
    border-radius: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.stadistics {
    width: 250px;
    height: 250px;
    display: block;
    background: #ffff;
    border-radius: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.historys {
    width: 250px;
    height: 250px;
    display: block;
    background: #ffff;
    border-radius: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.maps {
    width: 250px;
    height: 250px;
    display: block;
    background: #ffff;
    border-radius: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.calendar img {
    margin: 43px 0 29px 0;
}

.stadistics img {
    margin: 42px 0 32px 0;
}

.maps img {
    margin: 42px 0 35px 0;
}

.historys img {
    margin: 43px 0 42px 0;
}

.calendar h2 {
    font-size: 36px;
    width: 76px;
    height: 60px;
    font-weight: 700;
    text-align: center;
}

.stadistics h2 {
    font-size: 36px;
    width: 88px;
    height: 60px;
    font-weight: 700;
    text-align: center;
}

.maps h2 {
    font-size: 36px;
    width: 102px;
    height: 60px;
    font-weight: 700;
    text-align: center;
}

.historys h2 {
    font-size: 36px;
    width: 76px;
    height: 60px;
    font-weight: 700;
    text-align: center;
}

.calendar p {
    font-size: 20px;
    width: 99px;
    height: 54px;
    text-align: center;
}

.stadistics p {
    font-size: 20px;
    width: 91px;
    height: 54px;
    text-align: center;
}

.maps p {
    font-size: 20px;
    width: 126px;
    height: 27px;
    text-align: center;
}

.historys p {
    font-size: 20px;
    width: 129px;
    height: 27;
    text-align: center;
}

.popular {
    background-color: #fff;
    background-image: url(../img/popular-map.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 1004px;
    margin-top: 83px;
}

.cajita {
    flex-direction: column;
    display: flex;
    align-items: end;
    margin-right: 100px;
}

.cajita div {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    width: 659px;
    align-items: center;
    box-shadow: 3px 3px 10px 0px #00000014;
    margin-top: 42px;
    margin-bottom: 10px;
}

.desc {
    flex-wrap: wrap;
    width: 100px;
}

.gothailand {
    transition: all 0.5s ease;
}

.gothailand:hover {
    transform: scale(2.2);
}

.indonesia h3 {
    flex-wrap: wrap;
    width: 100px;
}

.goindonesia {
    transition: all 0.5s ease;
}

.goindonesia:hover {
    transform: scale(2.2);
}

.newzeland h3 {
    flex-wrap: wrap;
    width: 100px;
}

.gonew {
    transition: all 0.5s ease;
}

.gonew:hover {
    transform: scale(2.2);
}

.Packages {
    position: center;
    width: 100%;
    height: 1119px;
    background: #ecf1f0;
}

.Packages h1 {
    color: #000;
    margin: 0px;
    padding: 25px;
    font-size: 40px;
    font-weight: 720;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.Bottoms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 60px;
    margin: 100px;
    margin-top: 20px;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
}

.Bottoms .btn_gray {
    width: 180px;
    height: 60px;
    background: #666;
    border-radius: 10px;
    text-align: center;
    display: block;
    font-size: 20px;
    text-decoration: none;
    padding: 14px;
    font-weight: 600;
    color: #f0f0f0;
    text-align: center;
    transition: all 0.5s ease;
}

.Bottoms .btn_gray:hover {
    background: #00A651;
    color: #fff;
}

.Container {
    display: flex;
    margin: 74px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 74px;
    position: relative;
}

.white_container {
    position: relative;
    bottom: 190px;
    background: #fff;
    border-radius: 20px;
    height: 180px;
    width: 435px;
}

.Places img {
    position: relative;
    bottom: 27px;
    width: 435px;
    height: 485px;
    border-radius: 20px;
}

.Places h1 {
    font-size: 20px;
    font-weight: 400;
    position: relative;
    right: 135px;
    bottom: 20px;
}

.Places h2 {
    font-size: 20px;
    font-weight: 400;
    position: relative;
    left: 300px;
    bottom: 75px;
}

.Places p {
    font-size: 16px;
    position: relative;
    left: 1px;
    bottom: 60px;
    padding: 5px;
}

.Text {
    display: flex;
}

.Text img {
    position: relative;
    bottom: 15px;
    width: 20px;
    height: 20px;
}

.Text h3 {
    position: relative;
    left: 5px;
    bottom: 18px;
    font-size: 20px;
    font-weight: 600;
}

.Text h4 {
    position: relative;
    left: 210px;
    bottom: 15px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
}

.Text h5 {
    position: relative;
    left: 260px;
    bottom: 15px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
}

.Text a {
    color: inherit;
}

.Text a:hover {
    color: inherit;
    transform: scale(1.1);
}

.btn_green3 {
    position: absolute;
    left: 620px;
    bottom: 130px;
    width: 300px;
    height: 80px;
    background: #00A651;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    display: block;
    margin-top: 98px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.btn_green3:hover {
    background-color: #fff;
    color: #00A651;
}

.Ventajas_signo_de_interrogacion {
    margin-top: 72px;
}

.LaDoña {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: end;
    display: flex;
}

.Ventajas_signo_de_interrogacion h1 {
    font-size: 2em;
    text-align: center;
}

.Ventajas_signo_de_interrogacion p {
    font-size: 2em;
    text-align: center;
}

.OtraClaseNoma {
    display: flex;
    width: 570px;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 13%;
    row-gap: 67px;
    flex-direction: row;
}

.imagengege {
    display: flex;
    justify-content: left;
    padding-right: 28px;
    width: 65.21;
    height: 66.59;
}

.Destination {
    display: flex;
    text-size-adjust: 50%;
    color: #5E6282;
    padding: 3%;
    flex-direction: column;
    row-gap: 67px;
}

.contenido_chistoso {
    justify-content: left;
    display: flex;
    width: 548px;
    height: 88.79px;
    flex-direction: row;
}

.contenido_chistoso h2 {
    font-size: 16px;
    font-weight: bold;
}

.people_say_section {
    background: rgba(0, 88, 84, 0.06);
    width: 100%;
    height: 771px;
}

.people_say {
    display: flex;
    justify-content: center;
}

.people_say_description {
    height: 54px;
    width: 524px;
    padding-top: 133px;
    position: absolute;
}

.people_say_description h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.people_say_opinions {
    overflow: hidden;
    width: 100vw;
}

.people_say_image_slider {
    overflow: hidden;
    padding-top: 238px;
    justify-content: center;
    display: flex;
    position: relative;
}

.people_say_image_slider p {
    font-family: "Poppins", sans-serif;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-weight: 600;
}

.people_say_image_slider img {
    height: 597px;
    width: 3128px;
}

.suscribe {
    height: 612.03px;
    background-image: url(../img/suscribe-fondo.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.cajita-ultimate {
    height: 612.03px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.suscaja {
    margin-left: 650px;
    margin-right: 650px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 70px;
    font-size: 33px;
    font-weight: 600;
    text-align: center;
    flex-wrap: wrap;
}

.subcajasus {
    display: flex;
}

.mail {
    padding-left: 25px;
    background-image: url(../img/mail.png);
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: 21px 18px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    height: 60px;
    width: 420px;
    margin-top: 20px;
}

.btn_green4 {
    background-color: #00a651;
    border-radius: 10px;
    color: #fff;
    margin: auto;
    margin-left: 50px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    padding: 30px 70px;
    transition: all 0.5s ease;
}

.btn_green4:hover {
    background-color: #fff;
    color: #00a651;
}

.footer {
    background-color: white;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 483px;
    padding-top: 80px;
}

.logo-black {
    margin-left: 182px;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
    flex-wrap: wrap;
    padding-right: 10px;
    margin-left: 130px;
}

.footer h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.footer p,
.footer a {
    color: grey;
    text-decoration: none;
    font-size: 25px;
    line-height: 2.6;
}

.footer a:hover {
    color: black;
}

.footer .social-icons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.footer .social-icons img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.footer .app-buttons img {
    width: 170px;
    margin-top: 1px;
}

.footer-bottom {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    color: grey;
    background-color: white;
    padding-bottom: 73px;
}